@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* header */
#header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 80px;
  /* background: #E3E6F3; */
  
  background:#c5e3eb;
  box-shadow: 0 5px 15px rgba(0, 0,0,0.06);
  position: sticky;
  top:0;
  left:0;
}

#nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: .3s ease;;
}

#nav li a:hover,
#nav li a.active{
  color: #088178;
}

#nav li a.active::after,
#nav li a:hover::after{
 content:" ";
 background:#088178;
 position: absolute;
 height: 3px;
 width: 30%;
 left:20px;
 bottom: -4px;
}

/* Home Page */

#hero{
  background-image: url("img/hero-d.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  /* background-position: ; */
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 15px;
}

#hero h1{
  color: #006bae;
}

#hero button{
  background-image: url("img/button.png");
  border: none;
  background-color: transparent;
  color: #006bae;
  padding:14px 80px 15px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;

}


/* feature section */
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


#feature .fe-box{
  width: 180px;;
  box-shadow: 20px 20px 35px rgba(0, 0,0,0.03);
  border:1px solid #cce7d0;
  text-align: center;
  padding: 20px 20px;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 55px rgba(70, 62,221,0.1);
}

#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;;
}


#product1{
  text-align: center;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 15px;
  border: 1px solid #cce7d0;
  border-radius: 25px;;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
} 

#product1 .pro:hover{
  box-shadow: 10px 10px 55px rgba(70, 62,221,0.1);
}



#product1 .pro img{
  width: 100%;
  border-radius: 20px;;
}


#product1 .pro .des{
  padding-top: 10px;;
 text-align: start;
}
#product1 .pro span{
  font-size: 14px;
  padding: 5px 0px;
  color: grey;

}

#product1 .pro .des h5{
  font-size: 14px;
  padding: 5px 0px;
  color: black;
}


#product1 .pro .star{
  font-size: 14px;
  color: rgb(236, 203, 13);
}

#product1 .pro .des h4{
  font-size: 18px;
  padding: 5px 0px;
  color: #088178;
}

#product1 .pro .cart{
  font-size: 18px;
  color: #088178;
  background-color: #c7f0ecde;
  border-radius: 50px;
  padding: 12px;
  position:absolute;
  right: 10px;
  bottom: 10px;
}